

<section class="page-header page-header-xs">
  <div class="container">

    <h1>FORGOT PASSWORD</h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Forgot Password</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>

<section>
  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-5 col-md-5 col-lg-4 order-md-2 order-sm-2 order-lg-2">

        <!--        &lt;!&ndash; ALERT &ndash;&gt;-->
        <!--        <div class="alert alert-mini alert-danger mb-30">-->
        <!--          <strong>Oh snap!</strong> Login Incorrect!-->
        <!--        </div>&lt;!&ndash; /ALERT &ndash;&gt;-->

        <!-- login form -->
        <form (ngSubmit)="login($event)" class="sky-form boxed">
          <header><i class="fa fa-users"></i>Forgot Password</header>

          <fieldset class="m-0">

            <label class="label mt-20">E-mail</label>
            <label class="input">
              <i class="ico-append fa fa-envelope"></i>
              <input type="email">
              <span class="tooltip tooltip-top-right">Email Address</span>
            </label>

          </fieldset>
          <footer class="celarfix">
            <button type="submit" class="btn btn-primary rad-0 float-right"><i class="fa fa-check"></i>SEND MAIL</button>
          </footer>
        </form>

      </div>


      <div class="col-12 col-md-7 col-lg-8 order-md-1 order-sm-1 order-lg-1">

        <h2 class="fs-20 text-center-xs">Why Smarty?</h2>

        <p>Lorem ipsum dolor sit amet. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.Lorem ipsum dolor sit amet. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>

        <ul class="list-unstyled login-features">
          <li>
            <i class="glyphicon glyphicon-road"></i> <strong>Lorem ipsum</strong> dolor sit amet.
          </li>
          <li>
            <i class="glyphicon glyphicon-cog"></i> <strong>Sed ut perspiciatis</strong> unde omnis iste.
          </li>
          <li>
            <i class="glyphicon glyphicon-tint"></i> <strong>Et harum quidem</strong> rerum facilis est et expedita distinctio.
          </li>
          <li>
            <i class="glyphicon glyphicon-screenshot"></i> <strong>Nam libero</strong> tempore, cum soluta nobis.
          </li>
          <li>
            <i class="glyphicon glyphicon-fire"></i> <strong>Est eligendi</strong> voluptatem accusantium.
          </li>
        </ul>

      </div>

    </div>


  </div>
</section>
