<h3>ORDERS</h3>
<div class="table-responsive">
  <table class="table table-bordered table-vertical-middle">
    <thead>
    <tr>
      <th class="fw-30">Img</th>
      <th>Column name</th>
      <th>Ratings</th>
      <th>Progress</th>
      <th>Share</th>
      <th>Column name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/male.png" alt="" width="20"></td>
      <td>Value 1</td>
      <td><div class="rating rating-0 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td><span class="badge badge-success">Approved </span></td>
    </tr>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/female.png" alt="" width="20"></td>
      <td>Value 2</td>
      <td><div class="rating rating-1 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td><span class="badge badge-info">Pending </span></td>
    </tr>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/female.png" alt="" width="20"></td>
      <td>Value 3</td>
      <td><div class="rating rating-2 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td><span class="badge badge-warning">Suspended </span></td>
    </tr>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/male.png" alt="" width="20"></td>
      <td>Value 4</td>
      <td><div class="rating rating-3 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td><span class="badge badge-danger">Blocked </span></td>
    </tr>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/male.png" alt="" width="20"></td>
      <td>Value 5</td>
      <td><div class="rating rating-4 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td><span class="badge badge-primary">N/A </span></td>
    </tr>
    <tr>
      <td class="text-center"><img src="assets/images/_smarty/female.png" alt="" width="20"></td>
      <td>Value 6</td>
      <td><div class="rating rating-5 fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></td>
      <td>
        <div class="progress progress-xxs mb-0">
          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </td>
      <td>
        <ul class="list-inline m-0 fs-12">
          <li><a href="#" class="icon-facebook mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
          <li><a href="#" class="icon-twitter mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
          <li><a href="#" class="icon-gplus mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
          <li><a href="#" class="icon-linkedin mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
          <li><a href="#" class="icon-pinterest mt-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
        </ul>
      </td>
      <td>
        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-edit white"></i> Edit </a>
        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-times white"></i> Delete </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
