<app-top-bar></app-top-bar>
<app-menu></app-menu>>


<!-- FEATURED -->
<section>
    <div class="container">

        <h2 class="owl-featured b-0"><strong>FEATURED</strong> PRODUCTS</h2>
        <div class="owl-carousel featured m-0 owl-padding-10" data-plugin-options='{"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4000, "autoHeight": false, "navigation": true, "pagination": false}'>

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p13.jpg" alt="shop first image" />
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p14.jpg" alt="shop hover image" />
                    </a>
                    <!-- /product image(s) -->

                </div>

                <div class="shop-item-summary text-center">
                    <h2>Cotton 100% - Pink Shirt</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        <span class="line-through">$98.00</span> $78.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <!-- CAROUSEL -->
                        <div class="owl-carousel owl-padding-0 m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3000, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p5.jpg" alt="">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p1.jpg" alt="">
                        </div>
                        <!-- /CAROUSEL -->
                    </a>
                    <!-- /product image(s) -->
                </div>

                <div class="shop-item-summary text-center">
                    <h2>Pink Dress 100% Cotton</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        $44.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p2.jpg" alt="shop first image" />
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p12.jpg" alt="shop hover image" />
                    </a>
                    <!-- /product image(s) -->

                </div>

                <div class="shop-item-summary text-center">
                    <h2>Black Fashion Hat</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        <span class="line-through">$77.00</span> $65.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p8.jpg" alt="shop first image" />
                    </a>
                    <!-- /product image(s) -->
                </div>

                <div class="shop-item-summary text-center">
                    <h2>Beach Black Lady Suit</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        $56.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p7.jpg" alt="shop first image" />
                    </a>
                    <!-- /product image(s) -->
                </div>

                <div class="shop-item-summary text-center">
                    <h2>Town Dress - Black</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        $154.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p6.jpg" alt="shop first image" />
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p14.jpg" alt="shop hover image" />
                    </a>
                    <!-- /product image(s) -->
                </div>

                <div class="shop-item-summary text-center">
                    <h2>Chick Lady Fashion</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-4 fs-11">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        $167.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="shop-item m-0">

                <div class="thumbnail">
                    <!-- product image(s) -->
                    <a class="shop-item-image" href="shop-single-left.html">
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p11.jpg" alt="shop hover image" />
                        <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p3.jpg" alt="shop first image" />
                    </a>
                    <!-- /product image(s) -->
                </div>

                <div class="shop-item-summary text-center">
                    <h2>Black Long Lady Shirt</h2>

                    <!-- rating -->
                    <div class="shop-item-rating-line">
                        <div class="rating rating-0 fs-13">
                            <!-- rating-0 ... rating-5 -->
                        </div>
                    </div>
                    <!-- /rating -->

                    <!-- price -->
                    <div class="shop-item-price">
                        $128.00
                    </div>
                    <!-- /price -->
                </div>

                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                    <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                </div>
                <!-- /buttons -->
            </div>
            <!-- /item -->

        </div>

    </div>
</section>
<!-- /FEATURED -->



<!-- NEW PRODUCTS -->
<section>
    <div class="container">

        <div class="heading-title heading-dotted">
            <h2 class="fs-20">NEW PRODUCTS</h2>
        </div>

        <ul class="shop-item-list row list-inline m-0">

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/noimg.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Blue Dress</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            <span class="line-through">$98.00</span> $78.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/6.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Mobile Phone</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $53.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/7.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Black Shirt</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $68.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/8.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Backpack</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $19.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/9.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Blue Shoes</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $81.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/10.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Water Watch</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $38.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/11.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Bag</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $22.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/1.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Woman Bag</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $15.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/2.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Woman Hat</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $61.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/3.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Cotton Cap</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $56.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/4.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Sun Glasses</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $98.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

            <!-- ITEM -->
            <li class="col-lg-2 col-sm-4">

                <div class="shop-item">

                    <div class="thumbnail b-0 p-0">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/home/products/0.jpg" alt="" />
                        </a>
                        <!-- /product image(s) -->

                        <!-- hover buttons -->
                        <div class="shop-option-over">
                            <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                        </div>
                        <!-- /hover buttons -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2 class="fs-14">Bag</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $34.00
                        </div>
                        <!-- /price -->
                    </div>

                </div>

            </li>
            <!-- /ITEM -->

        </ul>

    </div>
</section>
<!-- NEW PRODUCTS -->



<!-- BRANDS -->
<section class="section-xs">
    <div class="container">

        <!--
      controlls-over		= navigation buttons over the image
      buttons-autohide 	= navigation buttons visible on mouse hover only

      data-plugin-options:
        "singleItem": true
        "autoPlay": true (or ms. eg: 4000)
        "navigation": true
        "pagination": true
    -->
        <div class="text-center">
            <div class="owl-carousel m-0" data-plugin-options='{"singleItem": false, "autoPlay": 3000}'>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/1.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/2.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/3.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/4.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/5.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/6.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/7.jpg" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="assets/demo_files/images/brands/8.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- BRANDS -->
