<h3>USER PROFILE</h3>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab">Personal</a></li>
  <li class="nav-item"><a class="nav-link" href="#addresses" data-toggle="tab">My Addresses</a></li>
  <li class="nav-item"><a class="nav-link" href="#wallet" data-toggle="tab">My Wallet</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <app-customer-info-personal></app-customer-info-personal>
  </div>
  <div class="tab-pane fade" id="addresses">
    <app-customer-info-address></app-customer-info-address>
  </div>
  <div class="tab-pane fade" id="wallet">
    <app-customer-info-wallet></app-customer-info-wallet>
  </div>
</div>
