

<section class="page-header">
  <div class="container">

    <h1>PAGE NOT FOUND</h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="">Home</a></li>
      <li class="active">Error 404</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>

<section class="section-xlg">
  <div class="container">

    <h2>Sorry, <strong>The page you requested can not be found!</strong></h2>
    <a class="fs-20 font-lato" routerLink=""><i class="glyphicon glyphicon-menu-left mr-10 fs-16"></i> back to Smarty homepage now!</a>

  </div>
</section>
