<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My cart</title>

    <style type="text/css">
        hr {
            border: 0;
            height: 2px;
            background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
        }
        
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        hr {
            box-sizing: content-box;
            overflow: visible;
        }
        
        hr {
            display: block;
            unicode-bidi: isolate;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: auto;
            margin-inline-end: auto;
            size: 16px;
        }
    </style>

</head>

<body>
    <div id="container" style="max-width: 1529px;" class="mx-auto d-block">
        <div class="px-xl-5 py-5 mb-5 mx-xl-5">
            <div class="row row-no-gutters mb-5">
                <div class="col-sm-8">
                    <div class="border border-secondary p-3">
                        <h4 class="font-weight-bold">
                            My Cart
                        </h4>
                        <div>
                            <h6 class="mb-4">
                                Your Cart - Payment Pending
                            </h6>
                            <img src="../../../../assets//images/_smarty/02092019_Delivery_VN_960x236ENP637030447027349345_1.webp" class="img-fluid" alt="Responsive image">
                            <div class="border border-secondary row row-no-gutters mt-3 mx-0">

                            </div>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width: 11%"><img class="mt-4" style="height: 69px;" src="https://cdn.onlinewebfonts.com/svg/img_474324.png" /></td>
                                        <td id="nameProduct" class="align-middle pl-3" style="width: 69%;">Shark Fin Decor Black
                                            <br><small class="text-success font-weight-bolder">● Delivered in 1-3 days</small></td>
                                        <!-- <td id="priceProduct" class="text-info font-weight-bolder pr-3 d-flex justify-content-end" >$10.000</td> -->
                                        <td id="priceProduct">
                                            <div class="text-info font-weight-bolder pr-1 mt-2 d-flex justify-content-end">$69.000.000</div>
                                            <div class="pt-4 mt-2 d-flex justify-content-end">
                                                <a href="#"><img src="../../../../assets/images/_smarty/trash-can.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 11%"><img class="mt-4" style="height: 69px;" src="https://cdn.onlinewebfonts.com/svg/img_474324.png" /></td>
                                        <td id="nameProduct1" class="align-middle pl-3" style="width: 69%">Yoga Ball Blue
                                            <br><small class="text-success font-weight-bolder">● Delivered in 1-3 days</small></td>
                                        <td id="priceProduct1">
                                            <div class="text-info font-weight-bolder pr-1 mt-2 d-flex justify-content-end">$69.000.000</div>
                                            <div class="pt-4 mt-2 d-flex justify-content-end">
                                                <a href="#"><img src="../../../../assets/images/_smarty/trash-can.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 11%"><img class="mt-4" style="height: 69px;" src="https://cdn.onlinewebfonts.com/svg/img_474324.png" /></td>
                                        <td id="nameProduct2" class="align-middle pl-3" style="width: 69%">Coffeee
                                            <br><small class="text-success font-weight-bolder">● Delivered in 1-3 days</small></td>
                                        <td id="priceProduct2">
                                            <div class="text-info font-weight-bolder pr-1 mt-2 d-flex justify-content-end">$69.000.000</div>
                                            <div class="pt-4 mt-2 d-flex justify-content-end">
                                                <a href="#"><img src="../../../../assets/images/_smarty/trash-can.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 11%"><img class="mt-4" style="height: 69px;" src="https://cdn.onlinewebfonts.com/svg/img_474324.png" /></td>
                                        <td id="nameProduct3" class="align-middle pl-3" style="width: 69%">Hola
                                            <br><small class="text-success font-weight-bolder">● Delivered in 1-3 days</small></td>
                                        <td id="priceProduct3">
                                            <div class="text-info font-weight-bolder pr-1 mt-2 d-flex justify-content-end">$69.000.000</div>
                                            <div class="pt-4 mt-2 d-flex justify-content-end">
                                                <a href="#"><img src="../../../../assets/images/_smarty/trash-can.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 11%"><img class="mt-4" style="height: 69px;" src="https://cdn.onlinewebfonts.com/svg/img_474324.png" /></td>
                                        <td id="nameProduct4" class="align-middle pl-3" style="width: 69%">Camera
                                            <br><small class="text-success font-weight-bolder">● Delivered in 1-3 days</small></td>
                                        <td id="priceProduct5">
                                            <div class="text-info font-weight-bolder pr-1 mt-2 d-flex justify-content-end">$69.000.000.000</div>
                                            <div class="pt-4 mt-2 d-flex justify-content-end">
                                                <a href="#"><img src="../../../../assets/images/_smarty/trash-can.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="border border-secondary p-3 mb-4">
                        <h5 class="font-weight-bold pb-2">Order Summary</h5>
                        <div class="d-flex">
                            <div class="col-sm-8">
                                <div>
                                    <h6 class="py-2">Total</h6>
                                </div>
                                <div>
                                    <h6 class="py-2">Delivery</h6>
                                </div>
                                <div>
                                    <h6 class="py-2">Total</h6>
                                </div>

                            </div>
                            <div class="col-sm-4 text-info d-flex align-items-end flex-column pr-0">
                                <div>
                                    <h6 class="py-2">$990</h6>
                                </div>
                                <div>
                                    <h6 class="py-2">$9</h6>
                                </div>
                                <div>
                                    <h6 class="py-2 h5 font-weight-bold">$99</h6>
                                </div>
                            </div>
                        </div>
                        <div class="py-5 d-flex justify-content-center">
                            <button type="" (click)="goToCheckout()" class="h6 text-white py-3 mb-2 border-0" style="width: 85%; border-radius: 8px; background-color: #3BB33A"><img src="../../../../assets/images/_smarty/shopping-cart.png" class="mr-2"> Checkout Now</button>
                        </div>
                        <div>
                            <p class="my-0"> <img src="../../../../assets/images/_smarty/delivery-truck.png" class="px-3"> Nationwide delivery | from $2</p>
                        </div>
                        <div id="bank-logo">
                            <img src="../../../../assets/images/_smarty/vietcombank-logo.png" class="pl-3 pr-1">
                            <img src="../../../../assets/images/_smarty/sacombank-logo.png" class="pt-2 pr-1 mt-1">
                            <img src="../../../../assets/images/_smarty/techcombank-logo.png" class="pr-1">
                            <img src="../../../../assets/images/_smarty/acb-logo.png" class="pr-1">
                        </div>
                    </div>
                    <hr>
                    <div id="delivery-advertisement">
                        <img src="../../../../assets/images/_smarty/depot-delivery.jpg" class="pt-3 mx-auto d-block" style="max-width: 100%; max-height: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>