<h3>CHANGE PASSWORD</h3>
<form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
  <div class="form-group">
    <label>Current Password</label>
    <input type="password" formControlName="current_password" class="form-control"
           [ngClass]="{ 'is-invalid': form.current_password.errors && form.current_password.touched}" />
    <div *ngIf="form.current_password.errors && form.current_password.touched" class="invalid-feedback">
      <div *ngIf="form.current_password.errors.required">Password is required</div>
      <div *ngIf="form.current_password.errors.minLength">Password must be at least 8 characters long.</div>
    </div>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" formControlName="new_password" class="form-control"
           [ngClass]="{ 'is-invalid': form.new_password.errors && form.new_password.touched}" />
    <div *ngIf="form.new_password.errors && form.new_password.touched" class="invalid-feedback">
      <div *ngIf="form.new_password.errors.required">Password is required</div>
      <div *ngIf="form.new_password.errors.minLength">Password must be at least 8 characters long.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" appConfirmPass="new_password" formControlName="confirm_password" class="form-control"
           [ngClass]="{ 'is-invalid': form.confirm_password.errors && form.confirm_password.touched}" />
    <div *ngIf="form.confirm_password.errors && form.confirm_password.touched" class="invalid-feedback">
      <div *ngIf="form.confirm_password.errors.required">Password is required</div>
      <div *ngIf="form.confirm_password.errors.minLength">Password must be at least 8 characters long.</div>
      <div *ngIf="form.confirm_password.errors?.notEqual">Password does not match</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
